<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:700|Ubuntu:700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
        <title> Petition </title>
    </head>
    <body>
        <header>
            <div class="logo">
                spicedchange.org
            </div>
            <div class="menu">
                Start a petition
            </div>
            <div class="menu">
                My petitions
            </div>
            <div class="menu">
                Browse
            </div>
            <div class="menu">
                Subscription
            </div>
            <img id="search" src="/search.png" alt="">
            <div class="login">
                Log in
            </div>
        </header>
        {{{body}}}
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <script src="/canvas.js"></script>

</html>
