<div id="title">
	<h1 class="title">Make Spiced Academy pet friendly</h1>
	{{#if err}}
	<h2 class="error">Sorry, but you have to sign the petition to continue</h2>
	{{/if}}
</div>
<div id="main-container">
	<img id="dog" src="\dogcode2.jpg" alt="">
	<!-- <div id="form-contaniner"> -->
		<form method = "POST">
		<input id="name" name= "first" placeholder="First name">
		<input name= "last" placeholder="Last name">
		<input name= "signature" type="hidden">
		<canvas id="canvas">
		</canvas>
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<button name="button">Submit signature</button>

		</form>
	<!-- </div> -->
	</div>
