
<form method = "POST">
	<input name= "first">
      <input name= "last">
     <input name= "signature" type="visible">
     <!-- hide it later -->
     <!-- <canvas id="canvas"></canvas> -->
     <button name="button">submit</button>
</form>

{{#if err}}
   <p>You must sign the petition</p>
{{/if}}
