<div id="profile-container">
    <img class="dog-small" src="\dogcode2.jpg" alt="">
    <h2 class="subtitle">Tell us about yourself</h2>
    <form method = "POST">
    <input name="age" placeholder="Age">
    <input name="city" placeholder="City">
    <input name="homepage" placeholder="Home page">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button name="button">Continue</button>
    </form>
</div>
