

<div id="signers-contaniner">
    <h2 id="now">By now, this people signed the petition: </h2>
    <div id="signers">
        {{#rows}}
        <p class="signer">{{first}} {{last}}</p>
        {{/rows}}
    </div>
</div>
