<div id="thanks">
    <h2 id="thank-you">Thank you for signing</h2>
    <h3 id="happy">Your signature will make a lot of stressed students happy!</h2>
    <img id="signature-pic" src="{{signature}}">
    <a id="see" href="/signers">See who else has signed the petition</a>
</div>
<form method="POST" action="/signature/delete">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button name="button">Delete your signature</button>

</form>
