body {
    margin: 0;
    background-image: url("/world-map-dotted.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.8);
}

/* header */
.menu-link {
    text-decoration: none;
    color: #484848;
    cursor: pointer;
}

#delete-menu-container {
    margin: 0px;
    padding: 0px;
}

#delete-link {
    background-color: transparent;
    height: 20px;
    width: 180px;
    font-family: "Ubuntu", sans-serif;
    color: #484848;
    border: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
}

.current {
    /* color: #ed2d23; */
    border-bottom: 4px solid #ed2d23;
    padding-bottom: 18px;
    color: #484848;
    text-decoration: none;
}

/* register */
#register-main {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

#presetation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px solid #ed2d23;
    width: 570px;
    margin: 100px 40px 40px 40px;
    padding-left: 30px;
    padding-right: 90px;
    font-family: "Noto Sans", sans-serif;
    color: #484848;
}

p {
    font-family: "Noto Sans", sans-serif;
    color: #484848;
    font-size: 17.5px;
    font-weight: normal;
}

#subtitle-register {
    text-align: center;
}

#dog-register {
    /* height: 200px; */
    width: 250px;
    margin-left: 130px;
    /* margin-right: 90px;
    margin-left: 100px; */
    box-shadow: 0 0.5px 1px 1px rgba(0, 0, 0, 0.2);
}

#register-container {
    margin-top: 80px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    color: #484848;
}

#register-logo {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 65px;
    color: #ed2d23;
    font-weight: bolder;
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
}

#register-button {
    margin-bottom: 30px;
}

#not {
    text-align: center;
    color: #484848;
}

.dog-small {
    height: 150px;
    width: 150px;
}

.subtitle {
    margin: 0px;
    margin-bottom: 20px;
}

/* profile */
#profile-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    color: #484848;
}

/* Login */
#login-logo {
    color: #ed2d23;
    font-weight: bolder;
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 60px;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    color: #484848;
    margin-top: 100px;
}

#login-button {
    margin-bottom: 30px;
}

/* Main  */

header {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 60px;
    /* border-bottom: solid 1px grey; */
    box-shadow: 0 0.5px 1px 1px rgba(0, 0, 0, 0.2);
    /* margin-bottom: 15px; */
}

.logo {
    color: #ed2d23;
    font-weight: bolder;
    margin: 10px 30px 10px 60px;
    font-size: 30px;
}

.menu {
    margin: 20px 20px 10px 60px;
    font-weight: lighter;
    color: #484848;
}

#logout-link {
    margin-left: 120px;
}

.login {
    margin: 20px 20px 10px 350px;
    font-weight: lighter;
    color: #484848;
}

/* Petition  */

.title {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    color: #484848;
}

/* .
 */

.error {
    color: #ed2d23;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
}

#petition-error {
    text-align: center;
}

strong {
    font-weight: bolder;
    font-family: "Noto Sans", sans-serif;
    color: #484848;
    font-size: 17px;
}

#main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: "Noto Sans", sans-serif;
    margin-top: 50px;
    /* justify-content: space-around; */
}

form {
    /* margin-top: 25px; */
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #484848;
}

#dog {
    height: 400px;
    width: 500px;
    margin-right: 90px;
    margin-left: 150px;
    box-shadow: 0 0.5px 1px 1px rgba(0, 0, 0, 0.2);
}

#signature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    width: 297px;
    height: 30px;
    /* box-shadow: 0 0.5px 1px 1px rgba(0, 0, 0, 0.2); */
}

/* #name {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
} */

#signature-text {
    text-align: center;
}

#canvas {
    /* width: 404px; */
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    background-color: white;
}

button {
    width: 310px;
    background-color: #ed2d23;
    color: white;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
}

/* thanks */

#thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    color: #484848;
}

#thank-you {
    margin-top: 50px;
    color: #ed2d23;
}

#borti {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

#happy {
    margin-top: 10px;
    margin-bottom: 30px;
}

#signature-pic {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 50px;
    margin-right: 70px;
}

#pics {
    margin-bottom: 20px;
    /* background-color: white; */
}

#see {
    color: #484848;
    font-size: 18px;
    padding: 8px 10px 8px 10px;
    font-family: "Ubuntu", sans-serif;
}

#delete-signature {
    color: #484848;
    font-size: 18px;
    margin-top: 0px;
    padding: 0px 10px 8px 10px;
    font-family: "Ubuntu", sans-serif;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

/* signers */
#signers-contaniner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#now {
    margin-top: 35px;
    font-family: "Noto Sans", sans-serif;
    color: #ed2d23;
}

.signers {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    /* border: 2px solid #ed2d23; */
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.signer {
    font-family: "Ubuntu", sans-serif;
    color: #484848;
    font-size: 15px;
    margin: 5px 10px 5px 10px;
}

ul {
    margin-bottom: 0px;
}

.tag {
    color: #ed2d23;
}
/* by city */

#city-contaniner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* for functions */

.hover-button {
    background-color: #b80000;
}

.hover {
    color: #ed2d23;
}
